:root {
	--Very-Dark-Magenta: hsl(300, 43%, 22%);
	--Soft-Pink: hsl(333, 80%, 67%);
	--Dark-Grayish-Magenta: hsl(303, 10%, 53%);
	--Light-Grayish-Magenta: hsl(300, 24%, 96%);
	--White: hsl(0, 0%, 100%);
}


@font-face {
	font-family: light;
	src: url(../font/League_Spartan/static/LeagueSpartan-Light.ttf);
}

@font-face {
	font-family: medium;
	src: url(../font/League_Spartan/static/LeagueSpartan-Medium.ttf);
}

@font-face {
	font-family: bold;
	src: url(../font/League_Spartan/static/LeagueSpartan-Bold.ttf);
}

body {
	height: 100vh;
	padding: 120px;
}

main {
	display: flex;

}

.main-title {
	color: var(--Very-Dark-Magenta);
	font-size: 40px;
	max-width: 265px;
	width: 100%;
	font-family: bold;
}

.main-content {
	margin-top: 20px;
	color: var(--Dark-Grayish-Magenta);
	max-width: 370px;
	width: 100%;
	font-family: light;
}

.ratting-cards-area {
	display: flex;
	flex-grow: 1;
	justify-content: end;
	margin-right: 10%;
}

.ratting-card {
	display: flex;
	background-color: var(--Light-Grayish-Magenta);
	padding: 10px;
	border-radius: 7px;
	margin-top: 10px;
	max-width: 400px;
	width: 100%;
}

.ratting-card2 {
	margin-left: 30px;
}

.ratting-card3 {
	margin-left: 60px;
}

.ratting-star {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

.ratted-object {
	color: var(--Very-Dark-Magenta);
	margin-left: 15px;
	font-family: medium;
	font-size: 17px;
	margin: auto;
}

section {
	display: flex;
	margin-top: 100px;
}

.profile-card {
	max-width: 450px;
	width: 100%;
	background-color: var(--Very-Dark-Magenta);
	margin-right: 25px;
	padding: 25px;
	border-radius: 10px;
}

.user-info {
	display: flex;
}

.user-photo {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	margin-right: 15px;
}

.user-name {
	color: white;
	font-family: medium;
	font-size: 15px;
}

.Verified-Buyer {
	color: var(--Soft-Pink);
	font-family: medium;
	font-size: 14px;
	margin-top: 5px;
}

.main-card-content {
	margin-top: 15px;
	color: white;
	font-family: light;
	font-size: 15px;
}